# 深圳证威(集团)有限公司

## 集团简介及发展历程
正威集团是由产业经济发展起来的一家以金属新材料和非金属新材料完整产业链为主导的高科技产业集团, 近年来大力发展产业投资与科技智慧园区开发, 战略投资与财务投资, 交易平台等业务. 在金属新材料领域位列世界第一.

In [1]:
companys_str = '深圳金属新材料产业园、江西赣州金属新材料产业园、安徽铜陵金属新材料产业园、兰州新区正威电子信息产业园、辽宁营口高威金属新材料产业园、正威重庆南川金属新材料产业园、正威洛阳金属和非金属新材料科技城产业园、天津电子信息产业基地、江西宜春电子信息产业园、珠海海威科技创新中心、四川广安宏威金属和非金属新材料产业园、辽宁营口聚酰亚胺非金属新材料产业园、郑州航空港正威智能终端（手机）产业园、新加坡集成电路产业基地、正威（美国）通用钼矿产业园、正威重庆大足电子信息及文化产业园、湖南郴州国际矿产资源交易中心、贵州国际商品交易中心、河南洛阳金属交易中心、安徽安庆汉玉产业园、梧州国际宝玉石文化创意产业园、魏紫姚黄红木艺术品产业园、正威园艺产业园、大健康产业园'
companys_list = companys_str.split('、')

In [2]:
companys_list

['深圳金属新材料产业园',
 '江西赣州金属新材料产业园',
 '安徽铜陵金属新材料产业园',
 '兰州新区正威电子信息产业园',
 '辽宁营口高威金属新材料产业园',
 '正威重庆南川金属新材料产业园',
 '正威洛阳金属和非金属新材料科技城产业园',
 '天津电子信息产业基地',
 '江西宜春电子信息产业园',
 '珠海海威科技创新中心',
 '四川广安宏威金属和非金属新材料产业园',
 '辽宁营口聚酰亚胺非金属新材料产业园',
 '郑州航空港正威智能终端（手机）产业园',
 '新加坡集成电路产业基地',
 '正威（美国）通用钼矿产业园',
 '正威重庆大足电子信息及文化产业园',
 '湖南郴州国际矿产资源交易中心',
 '贵州国际商品交易中心',
 '河南洛阳金属交易中心',
 '安徽安庆汉玉产业园',
 '梧州国际宝玉石文化创意产业园',
 '魏紫姚黄红木艺术品产业园',
 '正威园艺产业园',
 '大健康产业园']

In [3]:
len(companys_list)

24

# FORTUNE--世界500强
数据来自财富杂志统计的世界500强数据

In [5]:
# 2013年开始进入世界500强
amer_2013_2017 = {
    '500强排名': {
        '2012': 387,
        '2013': 295,
        '2014': 247,
        '2015': 190,
        '2016': 183
    },
    '营业收入': {
        '2012': 29588.3,
        '2013': 38030.2,
        '2014': 43611.7,
        '2015': 47795.1,
        '2016': 49676.7
    },
    '利润': {
        '2012': 569.2,
        '2013': 833.3,
        '2014': 957.7,
        '2015': 1140.5,
        '2016': 1199.9
    },
    '资产': {
        '2012': 13914.0,
        '2013': 17142.8,
        '2014': 18655.0,
        '2015': 18559.4,
        '2016': 18404.9
    },
    '净利率': {
        '2012': 1.9,
        '2013': 2.2,
        '2014': 2.2,
        '2015': 2.4,
        '2016': 2.4
    },
    '资产收益率': {
        '2012': 4.1,
        '2013': 4.9,
        '2014': 5.1,
        '2015': 6.1,
        '2016': 6.5
    }
}

In [6]:
import pandas as pd
amer_2012_2016_df = pd.DataFrame(amer_2013_2017)

In [7]:
amer_2012_2016_df

      500强排名  净利率      利润     营业收入       资产  资产收益率
2012     387  1.9   569.2  29588.3  13914.0    4.1
2013     295  2.2   833.3  38030.2  17142.8    4.9
2014     247  2.2   957.7  43611.7  18655.0    5.1
2015     190  2.4  1140.5  47795.1  18559.4    6.1
2016     183  2.4  1199.9  49676.7  18404.9    6.5